<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <script src="products.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <title>Lessons Shop</title>
</head>

<body>
  <div id="app">
    <header>
      <h1 v-text="siteName"></h1>
      <button @click="showCheckout" v-if="cart.length > 0">
        {{showCartItemsCount}}
        <span class="fa-solid fa-cart-shopping"></span>
        Checkout
      </button>
      <button v-else disabled>
        <span class="fa-solid fa-cart-shopping"></span>
        Checkout
      </button>
    </header>

    <div v-if="showProducts">
      <main>
        <div v-for="product in products">
          <figure>
            <i v-bind:class="product.image"></i>
          </figure>
          <p>Subject: {{product.subject}}</p>
          <p>Location: {{product.location}}</p>
          <p>Price: £{{product.price}}</p>
          <p>Spaces: {{product.spacesAvailable}}</p>
          <button v-if="canAddToCart(product)" @click="addToCart(product)">Add To Cart</button>
          <button v-else disabled>Add to Cart</button>
        </div>
      </main>
    </div>

    <div v-else>
      <h1>Welcome to CheckOut Page</h1>
      <div>
        <h2>Your Cart</h2>
        <div v-for="(item, index) in cart" :key="item.id">
          <figure>
            <i v-bind:class="item.image"></i>
          </figure>
          <p>Subject: {{ item.subject }}</p>
          <p>Location: {{ item.location }}</p>
          <p>Price: £{{ item.price }}</p>
          <button @click="removeFromCart(index)">Remove</button>
        </div>
      </div>

    </div>
  </div>

  <script>
    let webstore = new Vue({
      el: '#app',
      data: {
        siteName: "Lessons Store",
        showProducts: true,
        products: products,
        cart: [],
      },
      methods: {
        addToCart: function (product) {
          this.cart.push({
            id: product.id,
            subject: product.subject,
            location: product.location,
            price: product.price,
            spacesAvailable: product.spacesAvailable,
            image: product.image
          });
          product.spacesAvailable--;
        },
        canAddToCart: function (product) {
          return product.spacesAvailable > this.cartCount(product.id);
        },
        cartCount: function (id) {
          let count = 0;
          for (let i = 0; i < this.cart.length; i++) {
            if (this.cart[i].id === id) {
              count++;
            }
          }
          return count;
        },
        showCheckout: function () {
          this.showProducts = this.showProducts ? false : true;
        },
        removeFromCart: function (index) {
          const removedItem = this.cart.splice(index, 1)[0]; // Remove item from cart and get the removed item
          const product = this.products.find(product => product.id === removedItem.id); // Find corresponding product
          if (product) {
            product.spacesAvailable++; // Increase the spaces available for the product
          }
        }
      },
      computed: {
        showCartItemsCount: function () {
          return this.cart.length || ""
        },
      }
    }
    )
  </script>
</body>

</html>